.article-container{
    border:1px solid gold;
    border-radius: 10px;
    padding: 1em;
    background-color: black;
    margin-bottom: 15px;
    margin-top: 15px;
}

.article-item{
    color:white;
    padding: 10px;
}

#user-article{
    background-color: gold;
    color:black;
    border-radius: 5px;
    padding:5px;
    padding-left: 25px;
    margin-bottom: 30px;
    margin-top: 30px;
}

