.login-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    
}
.login{
    padding:5rem;
    border:2px solid gold;
    background-color: black;
    border-radius: 10px;
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner{

    label{
        color:white;
    }
    div{
        color: white;
    }
    

}

button.btn.btn-dark{
    background-color: gold;
    color: black;
}

.greeting{
    display: none;
}
.greeting p{
    font-size: 30px;
    color: white;
}
.greeting.active{
    display: inline;
}

.inner.inactive{
    display: none;
}

.login-already p,a{
    color:white;
    font-size: 30px;
}

.login-already div{
    border: 1px solid transparent;
    padding:1rem;
    width: 100%;
}
.login-already div:hover:nth-child(2){
    cursor: pointer;
    color:gold;
    border: 1px solid gold;
    border-radius: 5px;
    
}
.login-already a:hover{
    text-decoration: none;
}
.login-welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.login-already div p{
    text-align: center;
}

.login-already{
    border:1px solid gold;
    background-color: black;
    border-radius: 10px;
    padding:1rem;
    display: flex;
    flex-direction: column;
}

#logOut{
    display: flex;
    justify-content: center;
}

div.submit-button{
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}

.user-page{
    display: flex;
    flex-direction: column;
}

.articles.active{
    display: none;
}


.textareaArticle{
    display: none;
}
.textareaArticle.active{
    display: block;
    padding-top: 10px;
}

.container-articles{
    border: 1px solid gold;
    padding:1rem; 
    margin-top: 10px; 
    margin-bottom: 10px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.container-articles div{
    padding:10px;
    color:white;
    line-height: 200%;
}

.error{
    padding-top: 20px;
    position: absolute;
    bottom: -35px;
    color:red;
    font-size: 25px;
}


div.login2{
    text-align: center;
    width:400px;
    padding-top:5px;
    padding-bottom: 5px;
}

.no-posts{
    color:white;
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.item{
    color: white;
    font-size: 20px;
}
.textareaArticle div input,textarea{
    width: 80%;
}

#registerError{
    position:absolute;
    left:200px;
    color:red;
    left: 120px;
    bottom: 18px;
    width: 170px; 
    font-size: 22px;
}

.login-name{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:1em;
    padding-left: 0;
}
